<hr>

<h4 class="text-center social">
	<i class="fa fa-instagram" aria-hidden="true"></i>
	<i class="fa fa-facebook-official" aria-hidden="true"></i>
	<i class="fa fa-twitter" aria-hidden="true"></i>
</h4>

<h6 class="text-center">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2016 / Built with <i class="fa fa-heart" aria-hidden="true"></i></h6>