<div class="row header">
  <div class="col-xs-4"><img src="/images/header/IMG_0185.jpg" class="img-responsive"></div>
  <div class="col-xs-4"><img src="/images/header/IMG_0532.jpg" class="img-responsive"></div>
  <div class="col-xs-4"><img src="/images/header/IMG_0392.jpg" class="img-responsive"></div>	
</div>
<hr>