<div class="heading-background">
  <a class="text-center text-primary logo" href="/">
    Hi I'm<br class="hidden-lg hidden-md hidden-sm"> Christian
  </a>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 menu-wrap">
      <div class="row no-margin menu">
        <a href="/blog" class="col-xs-4 text-center">
          <h4>Blog</h4>
        </a>
        <a href="/portfolio" class="col-xs-4 text-center">
          <h4>Portfolio</h4>
        </a>
        <a href="/resume.pdf" class="col-xs-4 text-center">
          <h4>Resume</h4>
        </a>
      </div>
    </div>
  </div>
</div>