<h1 class="text-center text-primary logo"><b>Christian<br class="hidden-lg"> Juth<b></h1>

<div class="row menu">
	<a href="#" class="col-xs-4 text-center"><h4>Home</h4></a>
	<a href="#" class="col-xs-4 text-center"><h4>Music</h4></a>
	<a href="#" class="col-xs-4 text-center"><h4>About</h4></a>
</div>