<h1 class="text-center text-primary logo">Hi I'm<br class="hidden-lg"> Christian</h1>

<div class="row menu">
	<a href="/" class="col-xs-4 text-center">
		<h4>Home</h4>
	</a>
	<a href="/portfolio" class="col-xs-4 text-center">
		<h4>Portfolio</h4>
	</a>
	<a href="/music" class="col-xs-4 text-center">
		<h4>Music</h4>
	</a>
</div>