
.footer{
  display: block;
  background-color: #eb6864;
  padding: 40px 20px 35px 20px;
  width: 100%;

  p,
  *,
  li,
  *:hover{
    color: $white;
  }
  
  li{
    font-size: 16px;
  }

  .footer-text{
    display: block;
    width: 100%;
    margin: 10px 0 0;
    padding: 15px 0;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
  }
}