.navbar{
  z-index: 500;
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid $dark-primary;

  *{
    border: none;
    box-shadow: none;
  }

  .navbar-nav > li > *:not(.dropdown-menu){
    z-index: 501;
  }

  .navbar-nav > li > .dropdown-menu{
    z-index: 100;
    min-width: 0;
    width: 100%;
    border-radius: 0;
    background-color: $primary;

    *{
      color: $white; 
      background-color: transparent;
    }

    li:hover{
      background-color: $hover-primary;
    }

    li{
      padding: 3px 0;
    }
  }
}

.menu-wrap{
  padding: 0 20px;
}

.header{
  border-radius: 3px;
  overflow: visible;
  position: relative;
  margin-bottom: 30px;
  
  & > div{
    overflow: hidden;
    border-radius: 3px;
  }

  .header-image{
    border-radius: 3px;
    height: calc(16vw + 75px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .header-profile-image{
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 50px);
  }

  &.portfolio-entry{
    border-radius: 3px;
    padding: 50px 0;

    & .title{
      font-size: 8vw;
    }
  }
}

.heading-background{
  background-color: #eb6864;
  display: inline-block;
  width: 100%;
  padding: 50px 15px;

  .logo,
  .logo:hover{
    font-family: thunder-things;
    font-size: 4.5vw;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    padding: 60px 0 25px 0;
    margin: 0;
    padding: 10px;
    margin-bottom: 0;
    color: $white;
  }

  a > *{
    color: $white;
    padding: 0;
  }
}

@media screen and #{$break-phone} {
  .navbar-collapse{
    .navbar-nav{
      margin: 0 -15px 10px -15px;
    }

    form{
      margin: 0 -15px;
    }

    .btn{
      margin-left: 13px;
    }
  }

  .heading-background{
    padding: 30px 15px;

    .logo{
      font-size: 12vw !important;
    }
  }
}