.navbar{
  position: relative;
  margin-bottom: 0;
  border-bottom: 2px solid $primary;

  *{
    border: none;
    box-shadow: none;
    overflow: hidden;
  }
}

.menu-wrap{
  padding: 0 20px;
}

.header.portfolio-entry{
  padding: 50px 0;

  & .title{
    font-size: 8vw;
  }
}

.heading-background{
  background-color: #eb6864;
  display: inline-block;
  width: 100%;
  padding: 40px 15px;

  .logo{
    font-family: thunder-things;
    font-size: 4.5vw;
    padding: 60px 0 25px 0;
    margin: 0;
    padding: 10px;
    margin-bottom: 0;
    color: $white;
  }

  a > *{
    color: $white;
    padding: 0;
  }
}

@media screen and #{$break-phone} {
  .navbar-collapse{
    .navbar-nav{
      margin: 0 -15px 10px -15px;
    }

    form{
      margin: 0 -15px;
    }

    .btn{
      margin-left: 13px;
    }
  }

  .heading-background{
    padding: 30px 15px;

    .logo{
      font-size: 13vw;
    }
  }
}

.footer{
  display: block;
  background-color: #eb6864;
  padding: 20px;
  width: 100%;

  .social > a{
    padding: 0 15px;
    color: $white;
  }

  *{
    color: $white;
  }

  .footer-text{
    display: block;
    width: 100%;
    margin: 10px 0 0;
    padding: 15px 0;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
  }
}