.loader{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1033;
  align-items: center;
  justify-content: center;

  &,
  & > div{
    background-color: $white;
  }

  &.loaded{
    display: none;
  }

  & > div > div{
    background-color: $primary;
  }
}