.panel{
  border: none;

  .panel-footer{
    background-color: #fff;
    border: none;
  }
  
  .panel-heading.pannel-heading-backgorund-image{
    height: 200px;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel-heading *{
    color: $white;
  }
}

.panel-default .panel-heading *{
  color: $black;
}

.blog-panel,
.portfolio-panel{
  border: 3px solid transparent;
  
  .panel-body{
    max-height: 200px;
    overflow: hidden;
    position: relative;
    
    p{
      font-size: 17px;
    }
  }
}

.blog-panel{
  border-color: #000;
}