@import 'variables';

.row.no-margin{
  & > a,
  & > div{
    padding: 0.1px;
  }
}

.portfolio-entry{
  background-color: #000;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  border: none;
  padding: 15px 0;
  margin: 0;
  // Fixes a bug in chrome THIS IS A HACK
  margin-top: -1px;

  h1{
    margin-top: 0;
    padding: 25px;
  }

  &.header{
    margin-bottom: 20px;
    cursor: auto;
  }

  *{
    color: #fff;
  }

  input{
    font-size: 35px;
    background: transparent;
    border: none;
    text-align: center;
    width: 100%;
  }

  .portfolio-blurb{
    color: #000;
    opacity: 0;
    position: absolute;
    font-family: 'PT Sans';
    font-size: 20px;
    text-align: center;
    top: 5px;
    left: 5px;
    height: calc(100% - 11px);
    width: calc(100% - 10px);
    padding: 20px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-transition: opacity 0.2s;

    &:hover{
      opacity: 1;
    }
  }

  .portfolio-date{
    position: absolute;
    right: 11px;
    bottom: 5px;
    margin: 0;
    padding: 0;
  }

  .lobster{
    font-family: 'Lobster', cursive;
  }

  .pacifico{
    font-family: 'Pacifico', cursive;
  }

  .pepermine-marker{
    font-family: 'Permanent Marker', cursive;
  }

  .kenwave{
    font-family: 'Knewave', cursive;
  }

  .heebo{
    font-family: 'Heebo', sans-serif;
  }
}

.portfolio-body{
  iframe[src*="embed.spotify.com/"]{
    width: 100%;
    height: auto;
  }
}

.add-portfolio-entry{
  padding: 1px;
}

// --------------- Mobile -------------------
@media screen and #{$break-tablet-max} {
  .portfolio-entry{
    .portfolio-date{
      display: none;
    }
  }
}

@media screen and #{$break-phone} {
  .portfolio-entry{
    &.header{
      margin-bottom: 15px;
    }

    *{
      font-size: 9vw;
    }

    .blurb{
      display: none;
    }
  }
}