@import 'variables';

body, html{
  margin: 0;
  padding: 0;  
  background-color: $white;
  overflow-x: hidden;
}

.menu.row,
.header.row,
.row.no-margin{
  margin-left: -1px;
  margin-right: -1px;

  & > a,
  & > a:hover{
    text-decoration: none;
  }

  & > a,
  & > div{
    padding: 0px;
  }
}

.page{
  overflow-x: hidden;
  padding: 30px 0 60px 0;
}

@media screen and #{$break-phone} {
  .page{
    padding: 20px 2vw 50px 2vw;
  }
}

#disqus_thread {
  overflow: hidden;
  margin: 50px 0 -20px 0;

  iframe {
    margin-bottom: -65px;
  }
}

// load components
@import 'text';

// load page elements
@import 'loader';
@import 'header-and-footer';