@import 'variables';

@font-face {
  font-family: thunder-things;
  src: url(/fonts/thunder-things.ttf);
}

body, html{
  margin: 0;
  padding: 0;  
  background-color: $white;
  overflow-x: hidden;
}

.menu.row,
.header.row,
.row.no-margin{
  margin-left: -1px;
  margin-right: -1px;

  & > a,
  & > a:hover{
    text-decoration: none;
  }

  & > a,
  & > div{
    padding: 0px;
  }
}

.menu-wrap{
  padding: 0 20px;
}

#disqus_thread {
  overflow: hidden;
  margin: 50px 0 -20px 0;

  iframe {
    margin-bottom: -65px;
  }
}

textarea { 
  resize: vertical;
}

hr{
  border-color: rgba(235, 104, 100, .8);
  border-width: 3px;
  margin: 30px 0;
}

hr.secondary{
  border-color: rgba(224, 224, 224, 0.8);
  border-width: 2px;
  margin: 15px -15px;
}

.page{
  overflow-x: hidden;
  padding: 30px 0 60px 0;
}

@media screen and #{$break-phone} {
  hr.secondary{
    margin: 15px 0;
  }
  
  .page{
    overflow-x: hidden;
    padding: 20px 15px 50px 15px;
  }
}

@import 'text';
@import 'loader';
@import 'header-and-footer';