@font-face {
  font-family: thunder-things;
  src: url(/fonts/thunder-things.ttf);
}

body{
  font-family: 'PT Sans';
  font-weight: 500;
}

.btn,
.navbar,
h1,h2,h3,h4,h5,h6{
  font-family: Asap;
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
  width: 100%;
  margin: 10px 0 0 0;
  padding: 15px 0 10px 0;
  color: $black;
  font-weight: bold;
  text-align: center;
}

h1{
  font-size: 45px;
  margin-top: 30px;
}

h2{
  font-size: 35px;
  margin-top: 20px;
}

h3{
  font-size: 28px;
  margin-top: 20px;
}

h4{
  font-size: 22px;
  margin: 0;
  padding: 17px 0 10px 0;
}

h5{
  font-size: 22px;
  margin: 0;
  padding: 0 0 10px 0;
}

h6{
  font-size: 22px;
  margin: 0;
  padding: 15px 0 10px 0;
}

p,
.page li,
.footer li,
blockquote{
  font-family: 'PT Sans';
  font-weight: 500;
  font-size: 19px;
  color: $black;
  line-height: 180%;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
  margin: 0;
  border-radius: 3px;

  &.indent{
    text-indent: 50px;
  }
}

.page p:not(.text-center),
.page li,
.page blockquote{
  text-align: justify;
}

blockquote{
  background-color: $gray;
  border: none;
  padding: 20px 30px;
  min-height: 175px;

  *{
    text-align: left;
  }
}

a{
  cursor: pointer;
}

.text-black{
  color: $black;
}

input,
textarea,
.form-control,
.form-control[readonly]{
  background-color: $white;
  border-radius: 3px;
  padding: 11px 16px;
  border: 1px solid $gray;
  @include prefix(box-shadow, $shadow-low, $prefixes);
  color: $black;
  height: 45px;

  &:focus{
    outline: none !important;
    border: 1px solid $gray;
    @include prefix(box-shadow, $shadow-medium, $prefixes);
  }
}

textarea,
textarea.form-control{ 
  resize: vertical;
}

.form-control .icheckbox_square-red{
  float: right;
}

thead{
  background-color: $white;
  border-bottom: 1px solid $dark-gray;
}

table,
table.table{
  border-radius: 3px;
  overflow: hidden;
  border-bottom: 1px solid $dark-gray;
  @include prefix(box-shadow, $shadow-low, $prefixes);

  th,
  td,
  thead tr th,
  tbody tr td{
    color: $black;
    padding: 15px 20px;
    font-size: 17px;
  }

  tr,
  thead tr,
  tbody tr{
    background-color: $white;
    border-bottom: 1px solid $dark-gray;
  }
  
  tr:last-child{
    border: none;
  }

  td.text-right a{
    margin-left: 10px;
  }
}

.btn{
  border-radius: 3px;
}

.page .btn:not(.btn-link){
  padding: 11px 15px;
  @include prefix(box-shadow, $shadow-low, $prefixes);

  &:hover{
    @include prefix(box-shadow, $shadow-medium, $prefixes);
  }
}

.input-phone,
input[type=tel]{
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12.7px;
  letter-spacing: -.3px;
}

.page ul,
.footer ul{
  margin: 5px 0 -6px 0;
  padding: 0;

  li{
    display: block;
    padding: 0;
    text-align: center;
  }
}

hr{
  border-color: $gray;
  border-width: 4px;
  margin: 6px -15px 12px -15px;
}

@media screen and #{$break-tablet-max} {
  hr.secondary{
    margin: 6px 0 12px 0;
  }
}

@media screen and #{$break-phone} {
  h1{
    margin-top: 12px;
  }

  .page p:not(.text-center),
  .page li,
  .footer li,
  .page blockquote{
    font-size: 5.5vw;
    text-align: left;
  }

  blockquote{
    min-height: 250px;
  }

  pre{
    font-size: 14px;
  }
}

.social-circle{
  color: $white;
  padding: 15px;
  margin: 2px;
  border-radius: 100px;
  background-color: $primary;
  border: 2px solid $white;

  &:hover{
    border: 2px solid $primary;
  }
}