// sizes
$computer:                     1170px;
$tablet:                       768px;
$phone:                        0px;

// colors
$white:                        #fffcf9;
$black:                        rgba(0,0,0,0.86);

$primary:                      #d05c58;

  

// media rule
$break-computer:               #{' (min-width: ' $computer ')'};
$break-tablet:                 #{' (min-width: ' $tablet ') and (max-width: ' $computer - 1 ')'};
$break-phone:                  #{' (min-width: ' $phone ') and (max-width: ' $tablet - 1 ')'};

$break-computer-min:           #{' (min-width: ' $computer ')'};
$break-tablet-min:             #{' (min-width: ' $tablet ')'};
$break-phone-min:              #{' (min-width: ' $phone ')'};

$break-tablet-max:             #{' (max-width: ' $computer - 1 ')'};
$break-phone-max:              #{' (max-width: ' $tablet - 1 ')'};
