<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    
    <h1>Pages</h1>
    <br>
    
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Page.all.each do |page| %>
          <tr>
            <td><%= page.title %></td>
            <td class="text-right">
              <a href="/page/edit/<%= page.id %>">Edit</a>
              <a href="#" type="fake_submit" class="delete" action="/page/delete/<%= page.id %>">Delete</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <a href="#" id="add" class="text-center btn btn-block btn-link" type="fake_submit" action="/page/new_page">add</a>
    
  </div>
</div>