<h2 class="page-title-md">Pages</h2>
<a href="#" id="add" class="text-center btn btn-block btn-link" type="fake_submit" action="/page/new_page">add</a>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td class="text-right">
          <a href="/<%= page.title %>">View</a>
          <a href="/page/edit/<%= page.id %>">Edit</a>
          <a href="#" type="fake_submit" class="delete" action="/page/delete/<%= page.id %>">Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>