<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="text-center">Reset Password</h2>
    <br>

    <form id="login-form" action="/reset_password" method="POST">
      <div class="row">
        <div class="form-group col-xs-12">
          <input type="password" name="new_password" class="form-control" id="username" placeholder="Password" required>
        </div>
        <div class="form-group col-xs-12">
          <input type="password" name="confirm_password" class="form-control" id="password" placeholder="Confirm Password" required>
        </div>
        <div class="form-group col-xs-12">
          <div class="g-recaptcha form-control" data-sitekey="<%= @recaptcha_key %>"></div>
        </div>
        <div class="form-group col-xs-12">
          <button type="submit" class="btn btn-block btn-primary">Reset</button>
        </div>
      </div>
      <input class="hidden" name="id" value="<%= params[:id] %>">
      <input class="hidden" name="token" value="<%= params[:token] %>">
    </form>
  </div>
</div>