<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

    <h1>Blog</h1>
    <br>

    <% @blog_posts.each do |post| %>
      <div class="panel panel-info blog-panel">
        <div class="panel-heading">
          <h6><%= post.title %> - <%= post.publish_date.strftime("%m/%d/%Y") %></h6>
        </div>
        <div class="panel-body">
          <%= RDiscount.new(post.content).to_html %>
        </div>
        <div class="panel-footer">
          <a class="btn btn-link btn-block" href="/blog/<%= post.id %>">Read More</a>
        </div>
      </div>
    <% end %>

  </div>
</div>