body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  box-sizing: border-box;
}