body {
  margin: 0;
}

* {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  font-smooth: never;
  -webkit-font-smoothing : none;
  image-rendering: pixelated;
}

canvas {
  
}