<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="text-center">Forgot Password</h2>
    <br>
    
    <% if params[:requested_password_reset] %>
      <p class="text-muted text-center">Reset link valid for 20 minutes.</p>
      <a href="/login" class="btn btn-link btn-block">Wait I Member!</a>
    <% else %>
      <form id="login-form" action="/request_password_reset" method="POST">
        <div class="row">
          <div class="form-group col-xs-12">
            <input type="text" name="username" class="form-control" id="username" placeholder="Unsername" required>
          </div>
          <div class="form-group col-xs-12">
            <div class="g-recaptcha form-control" data-sitekey="6LfCEw4UAAAAAD_dZPNTUq8tZGnZ4IJkLtCKaknk"></div>
          </div>
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-block btn-primary">Request Reset</button>
          </div>
          <div class="form-group col-xs-12">
            <a href="/login" class="btn btn-link btn-block">Wait I Member!</a>
          </div>
        </div>
      </form>
    <% end %>
  </div>
</div>