<div class="row header">
	<div class="col-xs-4"><img src="/images/IMG_0458.JPG" class="img-responsive"></div>
	<div class="col-xs-4"><img src="/images/IMG_0083.JPG" class="img-responsive"></div>
	<div class="col-xs-4"><img src="/images/IMG_0392.JPG" class="img-responsive"></div>	
</div>