<h2 class="text-center">Portfolio</h2>

<div class="row no-margin">
  <div class="col-xs-8">
    <div class="well portfolio-entry" style="background-color: #eb6864">
      <h1 class="text-center lobster">ChrististianJuth.com</h1>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="well portfolio-entry" style="background-color: #3498db">
      <h1 class="text-center pacifico">ExtJS</h1>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="well portfolio-entry" style="background-color: #95a5a6">
      <h1 class="text-center open-sans">FlatCal</h1>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="well portfolio-entry" style="background-color: #2ecc71">
      <h1 class="text-center pepermine-marker">Playlist Forge</h1>
    </div>
  </div>
</div>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.css">