<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <h1 class="text-center">Settings</h1>

    <hr class="secondary">
    <h4 class="text-center">API Integrations</h4>

    <% if @api_verification.any? %>
    <form id="login-form" action="/settings" method="POST">
      <% @api_verification.each do |api| %>
      <div class="row">
        <div class="form-group col-xs-3">
          <input type="text" class="form-control" placeholder="service" readonly>
        </div>
        <div class="form-group col-xs-3">
          <input type="text" name="key" class="form-control" placeholder="key" required>
        </div>
        <div class="form-group col-xs-3">
          <input type="text" name="secret" class="form-control" placeholder="secret" required>
        </div>
        <div class="form-group col-xs-3">
          <form>
            <button type="submit" class="btn btn-block btn-default">Delete</button>
          </form>
          <button type="submit" class="btn btn-block btn-primary">Update</button>
        </div>
        <div class="form-group col-xs-12">
          <button type="submit" class="btn btn-block btn-primary">New Integration</button>
        </div>
      </div>
      <% end %>
    </form>
    <% else %>
    <div class="row">
      <p class="text-center">You have no api integrations.</p>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-block btn-primary btn-sm">Add Integration</button>
        <br>
      </div>
    </div>
    <% end %>

    <hr class="secondary">
    <h4 class="text-center">Change Password</h4>
    <form action="/change_password" method="POST">
      <div class="row">
        <div class="form-group col-xs-6">
          <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
        </div>
        <div class="form-group col-xs-6">
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
        </div>
        <div class="form-group col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-sm">Update</button>
        </div>
      </div>
    </form>

    <hr class="secondary">
    <h4 class="text-center">About</h4>
    <p class="text-center">Applicatoin running Ruby <%= RUBY_VERSION %> - Travis <a href="https://travis-ci.org/Christianjuth/Portfolio"><img src="//travis-ci.org/Christianjuth/Portfolio.svg?branch=master"></a></p>

  </div>
</div>